@import "utils/mixins";
.btn {
  color: white;
  border-color:white;
  @include font-size(1rem,2.5rem);
  border-width:3px ;
  text-transform: uppercase;
  font-weight: bold;

}
.btn-lighter{
  @include font-size(1rem,2rem);

  color: black;
  border: 2px solid black;
  font-weight: bold;
  padding: 10px;
  letter-spacing: 1px;
  position: relative;
  &::before{
    transition: all 0.15s ease;
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
  }
  &:hover{
    color: white;
    text-decoration: none;
    &::before{
      width: 100%;
    }
  }
  @include md {
    border-width: 4px;
  }

}
.title{
  @include font-size(2rem,4rem);
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  &-description{
    margin-right: 5px;
    font-weight: normal;
    color: $text-color-lighter;
  }
  &-dark{
    color: black;
    font-weight: bold;
  }
}
.spinner{
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: none;

  align-items: center;
  justify-content: center;
  z-index:3;
  .spinner__content{
    width: 70px;
    height: 70px;
    background: $background-color-dark;
    animation: rotateplane 1.2s infinite ease-in-out;
  }
  &.spinner--visible{
    display: flex;
  }

}
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
